<header>
    <div class="top-header">
        <div class="container-fulid">
            <div class="row">
                <div class="col-lg-2 logo">
                    <img src="../../../assets/image/black-logo.png" alt="" />
                </div>
                <div class="col-lg-10 erpmain_menu">

                    <ul>
                        <li><a routerLink="/" href="#">Overview</a></li>
                        <li><a href="#" routerLink="/feature">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li class="erp_header_btn"><button class="btn btn-outline-primary">Get started free</button>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>
</header>