<section class="Pricing-section  pdtb-120">

    <div class="container">
        <div class="larg-heading">
            <h2>Ways we can help</h2>
            <p>Select a category below to learn more about inventory management, selling with Square, and how our retail
                POS will work
                with you.</p>
        </div>

        <div class="row">
            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="300">
                <div class="pricing-box-inner">
                    <h3>Free</h3>
                    <small>For businesses getting started in-person and online.</small>
                    <h5>$0</h5>
                    <p>No monthly fee.</p>
                    <button class="btn btn-danger button gap-top-base gap-left-base col-sm-12">Get Started
                        Free</button>

                    <hr />

                    <h6>Per transaction:</h6>
                    <span>2.6% + 10¢ (in-person)</span>
                    <span>2.9% + 30¢ (online)</span>

                    <h6>Includes:</h6>
                    <ul>
                        <li>Free retail point of sale app</li>
                        <li>Free online store</li>
                        <li>Basic inventory tools</li>
                        <li>Unlimited items</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="600">
                <div class="pricing-box-inner">
                    <h3>Free</h3>
                    <small>For businesses getting started in-person and online.</small>
                    <h5>$0</h5>
                    <p>No monthly fee.</p>
                    <button class="btn btn-danger button gap-top-base gap-left-base col-sm-12">Get Started
                        Free</button>

                    <hr />

                    <h6>Per transaction:</h6>
                    <span>2.6% + 10¢ (in-person)</span>
                    <span>2.9% + 30¢ (online)</span>

                    <h6>Includes:</h6>
                    <ul>
                        <li>Free retail point of sale app</li>
                        <li>Free online store</li>
                        <li>Basic inventory tools</li>
                        <li>Unlimited items</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="600">
                <div class="pricing-box-inner">
                    <h3>Free</h3>
                    <small>For businesses getting started in-person and online.</small>
                    <h5>$0</h5>
                    <p>No monthly fee.</p>
                    <button class="btn btn-outline-danger button gap-top-base gap-left-base col-sm-12">Get Started
                        Free</button>

                    <hr />

                    <h6>Per transaction:</h6>
                    <span>2.6% + 10¢ (in-person)</span>
                    <span>2.9% + 30¢ (online)</span>

                    <h6>Includes:</h6>
                    <ul>
                        <li>Free retail point of sale app</li>
                        <li>Free online store</li>
                        <li>Basic inventory tools</li>
                        <li>Unlimited items</li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="bottom-calltoaction row">
            <div class="col-sm-12 text-center"> <button
                    class="btn btn-outline-primary button gap-top-base gap-left-base">See
                    All Features
                </button></div>

            <p>Custom pricing is available if you process more than $250k per year.<a class="btn-link">Contact
                    Sales.</a></p>
        </div>


    </div>
</section>




<section class="sagment-autoslider  pdtb-120">

    <div class="container">
        <div class="larg-heading gap-bottom-base-80">
            <h2>You’re in good company</h2>
            <p>Square for Retail is trusted by thousands of retailers, big and small.</p>
        </div>

    </div>



    <div class="owl-carousel owl-theme ">
        <div class="item">
            <span class="marq-img">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3h17QoqESedDQYjObxtG0w/5eb20087b0d5b39b2979d13762367ee3/rtl-us-image-marquee-general-4.jpg?w=393" />
            </span>

        </div>


        <div class="item">
            <span class="marq-img">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/a0zMPRCAzVTzCeRNPijka/deabafee71937e46350d41a92646c9e3/rtl-us-image-marquee-general-5.jpg?w=250" />
            </span>

        </div>

        <div class="item">
            <span class="marq-img">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/32swfrvCHlSfyzgN9Ckxqq/3b30da073b044d144775b3d4957f8a93/rtl-us-image-marquee-general-6.jpg?w=536" />
            </span>

        </div>

        <div class="item">
            <span class="marq-img">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/6xcGlWRoqNk72QK8DOUWSM/cc83cf45d830e9121876e7aa64ebeafd/rtl-us-image-marquee-general-1.jpg?w=393" />
            </span>

        </div>

        <div class="item">
            <span class="marq-img">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3ozkxnabOKchtg9Yonub7q/86d9afb6c1fc9edd3d67f17df3d152a6/rtl-us-image-marquee-general-3.jpg?w=250" />
            </span>

        </div>



    </div>





</section>