<section class="footer pdtb-90">
    <div class="container">
        <div class="row">


            <div class="col-sm-3">
                <div class="footer-box">
                    <h6> Payments</h6>
                    <ul>
                        <li><a href="javascript:void(0)">Square Payments</a></li>
                        <li><a href="javascript:void(0)">In Person</a></li>
                        <li><a href="javascript:void(0)">By Invoice</a></li>
                        <li><a href="javascript:void(0)">On Your Computer</a></li>
                        <li><a href="javascript:void(0)">On Your Website</a></li>
                        <li><a href="javascript:void(0)">Risk Manager</a></li>
                        <li><a href="javascript:void(0)">Payment Platform</a></li>
                        <li><a href="javascript:void(0)">Payments Security</a></li>
                        <li><a href="javascript:void(0)">Transfers</a></li>
                        <li><a href="javascript:void(0)">Merchant Services</a></li>

                    </ul>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="footer-box">
                    <h6> Point of Sale</h6>
                    <ul>
                        <li><a href="javascript:void(0)">Point of Sale Overview</a></li>
                        <li><a href="javascript:void(0)">Square Point of Sale</a></li>
                        <li><a href="javascript:void(0)">Square for Restaurants</a></li>
                        <li><a href="javascript:void(0)">Square for Retail</a></li>
                        <li><a href="javascript:void(0)">Square Appointments</a></li>

                    </ul>
                </div>

            </div>


            <div class="col-sm-3">
                <div class="footer-box">
                    <h6> Hardware
                    </h6>
                    <ul>
                        <li><a href="javascript:void(0)">Reader for Magstripe</a></li>
                        <li><a href="javascript:void(0)">Contactless (NFC) & Chip Reader</a></li>
                        <li><a href="javascript:void(0)">Terminal</a></li>
                        <li><a href="javascript:void(0)">Stand</a></li>
                        <li><a href="javascript:void(0)">Register</a></li>
                        <li><a href="javascript:void(0)">Shop Hardware</a></li>
                        <li><a href="javascript:void(0)">Rent Hardware</a></li>
                        <li><a href="javascript:void(0)">Buy in Store</a></li>
                        <li><a href="javascript:void(0)">Compare Hardware</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="footer-box">
                    <h6> More Tools</h6>
                    <ul>
                        <li><a href="javascript:void(0)">Online Store</a></li>
                        <li><a href="javascript:void(0)">Online Checkout</a></li>
                        <li><a href="javascript:void(0)">Checking</a></li>
                        <li><a href="javascript:void(0)">Loans</a></li>
                        <li><a href="javascript:void(0)">Savings</a></li>
                        <li><a href="javascript:void(0)">Payroll</a></li>
                        <li><a href="javascript:void(0)">Team Management</a></li>
                        <li><a href="javascript:void(0)">Marketing</a></li>

                        <li><a href="javascript:void(0)">SMS Marketing</a></li>
                        <li><a href="javascript:void(0)">Messages</a></li>
                        <li><a href="javascript:void(0)">Loyalty</a></li>
                        <li><a href="javascript:void(0)">Dashboard</a></li>
                        <li><a href="javascript:void(0)">Gift Cards</a></li>
                        <li><a href="javascript:void(0)">Customer Directory</a></li>
                        <li><a href="javascript:void(0)">Inventory Management</a></li>
                        <li><a href="javascript:void(0)">Photo Studio</a></li>

                        <li><a href="javascript:void(0)">Square KDS</a></li>

                    </ul>
                </div>

            </div>



        </div>
    </div>
</section>