<section class="inner-page-slider">

    <div class="container" data-aos="fade-up">
        <h2>Features</h2>
        <p> All the tools you need—fromopen to close, in-store and online.</p>
    </div>

</section>


<section class="more_feature pdtb-90" data-aos="fade-up" data-aos-duration="2000" style="padding-top: 10px;">
    <div class="container">
        <div class="larg-heading">
            <h2>Inventory</h2>
            <p>Simplify your workflow with intuitive inventory.</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

        </div>


        <div class=" show-more-features" id="invfeature">
            <div class="row">
                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>
            </div>
        </div>

        <div class="view-more-feature">
            <button class="view-more-btn" (click)="togglefeature('#invfeature')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg><span>Show more</span></button>
        </div>



    </div>
</section>

<section class="more_feature pdtb-90" data-aos="fade-up">
    <div class="container">
        <div class="larg-heading">
            <h2>Reports</h2>
            <p>Make business decisions backed by data.</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

        </div>


        <div class=" show-more-features" id="invfeature2">
            <div class="row">
                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>
            </div>
        </div>

        <div class="view-more-feature">
            <button class="view-more-btn" (click)="togglefeature('#invfeature2')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg><span>Show more</span></button>
        </div>



    </div>
</section>

<section class="more_feature pdtb-90" data-aos="fade-up">
    <div class="container">
        <div class="larg-heading">
            <h2>Team Management</h2>
            <p>Empower your employees with team management tools.</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

        </div>


        <div class=" show-more-features" id="invfeature3">
            <div class="row">
                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>
            </div>
        </div>

        <div class="view-more-feature">
            <button class="view-more-btn" (click)="togglefeature('#invfeature3')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg><span>Show more</span></button>
        </div>



    </div>
</section>

<section class="more_feature pdtb-90" data-aos="fade-up">
    <div class="container">
        <div class="larg-heading">
            <h2>Payments</h2>
            <p>Take payments with no hidden fees.</p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6">
                <img
                    src="https://images.ctfassets.net/2d5q1td6cyxq/3rIZR0U1QfHZYQnzZhByx7/a284ac02f4d103767aef28de78aef56e/PD02330_USEN_Retail-Features_Inventory-counting-tool.png?w=493&h=309&fm=webp&q=85&fit=scale" />
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

            <div class="col-sm-6 features-bage-box">
                <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                    your iPhone or iPad.</p>
            </div>

        </div>


        <div class=" show-more-features" id="invfeature4">
            <div class="row">
                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>

                <div class="col-sm-6 features-bage-box">
                    <h6><span class="badge bg-primary">PLUS</span> Inventory counting tool</h6>
                    <p>Scan and search items with the counting tool to update, review, and confirm counts on the go with
                        your iPhone or iPad.</p>
                </div>
            </div>
        </div>

        <div class="view-more-feature">
            <button class="view-more-btn" (click)="togglefeature('#invfeature4')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down-circle"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                </svg><span>Show more</span></button>
        </div>



    </div>
</section>

<app-pricing></app-pricing>